div {
    background-color: rgb(245, 241, 182);
    color: rgb(243, 195, 245);
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

img {
    max-width: 500px;
}

h1 {
    color: rgb(206, 77, 30);
    padding: 30px;
    font-size: large;
    font-style: italic;
}

h2 {
    background-color: rgb(99, 16, 99);
    color: honeydew;
}


li {
    background-color: darkblue;
    color: rgb(107, 79, 7);
}