body {
    font-family: 'Play', sans-serif;
    font-size: 16px;
    background: #e7c76e url('../images/bg.jpg');
    letter-spacing:0.2px;
    overflow: scroll;
}

img {
    max-width: 500px;
}

h1 {
    color: rgb(206, 77, 30);
    padding: 30px;
    font-size: large;
    font-style: italic;
}

h2 {
    background-color: rgb(99, 16, 99);
    color: honeydew;
}


li {
    background-color: darkblue;
    color: rgb(107, 79, 7);
}