.sidebar {
    float: left;
    width: 400px;
    background-color: rosybrown;
    border: 2px solid slateblue;
}

.main {
    float: right;
    width: 400px;
    background-color: red;
    border: 2px solid blue;
}
